:root {
  --van-font-size-md: 1.8667vw !important;
  /* 修改搜索放大镜字体大小 */
  --van-field-icon-size: var(--van-font-size-md) !important;
  /* 修改A-Z的标题颜色 */
  --van-index-anchor-text-color: red !important;
  /* 修改入驻时间日期样式 */
  --van-cell-value-color: #2196f3 !important;
  /* 轻提示样式 */
  --van-toast-background: rgba(0, 0, 0, 0.2) !important;
  --van-toast-line-height: 2.6667vw !important;
  --van-toast-text-color: red !important;
  /* 首页轮播图高度 */
  --my-swipe: 32.6667vh !important;
  /* 表单内容高度 */
  --van-search-input-height: 5.0667vw !important;
  /* 表单取消大小 */
  --van-font-size-md: 3.2vw !important;


  /* 给<van-cell/>额外添加样式 */
  .van-cell {
    cursor: pointer;
  }

  /* 修改搜索放大镜颜色,大小,文本 */
  .van-icon {
    color: #ff1313 !important;
  }

  .van-field__left-icon>i {
    font-size: 5vw !important;
  }

  /* 表单样式 */
  .van-search,
  .van-field__control {
    height: 10vh !important;
  }

  .van-van-cell__value,
  .van-field__body {
    height: 1vh !important;
  }

  /* 修改日期年份 */
  .van-calendar__header-subtitle,
  .van-calendar__month-title {
    font-size: 4.6667vw !important;
  }

  /* 修改入驻和离开日期文字大小 */
  .van-cell__value {
    font-size: 4.6667vw !important;
    margin: 0.2604vw 0;
  }
}

/* 媒体查询 */
/* 手机配置 */
@media screen and (min-width: 700px) {
  :root {
    --van-font-size: 3.446vw !important;
    --van-search-action-font-size: 3.446vw !important;
  }

  .van-tab__text--ellipsis {
    height: 4.6667vw !important;
    padding-top: 2.3333vw;
  }


  .my-swipe .van-swipe-item {
    text-align: center
  }

  /* 首页轮播图圆点按钮 */
  .van-swipe__indicator {
    width: 2vw !important;
    height: 2vw !important;
  }

  /* 地理位置样式 */
  .van-cell,
  .van-index-anchor,
  .van-tab__text--ellipsis {
    font-size: 3.446vw !important;
  }

}

/* 电脑配置 */
@media screen and (min-width: 700px) and (max-width: 1920px) {
  :root {
    --van-index-bar-index-font-size: 16px !important;
    --van-font-size: 1.446vw !important;

  }

  .van-tab__text--ellipsis {
    height: 2.6667vw !important;
    padding-top: 1.3333vw;
  }

  /* 按钮尺寸 */
  .van-button {
    height: 6.4vw !important;
  }

  /* 首页轮播图 */
  .my-swipe {
    height: 50vw !important;
  }

  .my-swipe .van-swipe-item {
    text-align: center
  }

  /* 首页轮播图圆点按钮 */
  .van-swipe__indicator {
    width: 2vw !important;
    height: 2vw !important;
  }

  /* 地理位置样式 */
  .van-cell,
  .van-index-anchor,
  .van-search__action,
  .van-tab__text--ellipsis {
    font-size: 1.45vw !important;
  }



  .HotCity {
    span {
      width: 10.6667vw !important;
      height: 4vw !important;
      border-radius: 1.3333vw !important;
      line-height: 4vw !important;
      margin: .6667vw !important;
    }
  }

}

/* 应用到 body 元素，设置整体页面的字体 */
body {
  font-size: 1.8667vw;
  font-family: "楷体", "微软雅黑", "Microsoft YaHei", "宋体", SimSun, Arial, "Helvetica Neue", Helvetica, Times New Roman, sans-serif;
  box-sizing: border-box;
}

/* 应用到 h1 标题元素 */
h1 {
  font-family: "黑体", "Microsoft JhengHei", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* 应用到段落 p 元素 */
p {
  font-family: "宋体", SimSun, Arial, "Helvetica Neue", Helvetica, Times New Roman, sans-serif;
}

/* 应用到代码 code 元素 */
code {
  font-family: Consolas, "Courier New", monospace;
}